@import "../sass/susy";
$susy: (
  flow: ltr, 
  math: static, 
  output: float,
  gutter-position: after,
  container: auto, 
  container-position: center, 
  columns: 12, 
  gutters: 20px, 
  column-width: 80px, 
  global-box-sizing: content-box, 
  last-flow: to, 
  debug: (
    image: hide,
    color: rgba(#66f, .25), 
    output: background,
    toggle: top right, 
  ),
  use-custom: ( 
    background-image: true, 
    background-options: false, 
    box-sizing: true, 
    clearfix: false, 
    rem: true,
  )
);
@include border-box-sizing;
