@import "../sass/susy";
@import "reset";
$susy: (
  columns: 12,
  container: 1180px,
);
@include border-box-sizing;

.content{
  @include container;
}

.content > section{
  @include span(12);
}
.navigation{
  @include span(6);
}
.right-bar{
  @include span(6 last);
  & .actual, & .ads{
    @include span(12);
  }
}